.pos-abs{
    position: absolute;
}


.pos-rel{
    position: relative;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.b1{
    border: 1px solid black;
}

h2{
    margin-bottom: 0;
}
