.top-banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pics/top_banner/top_banner.jpg") no-repeat center center scroll;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.top-banner > div > .title {
    display: flex;
    margin: auto;

    text-transform: uppercase;
    color: #ffffff;
    font-size: 100px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 2px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    justify-content: center
}

@media screen and (max-width: 600px) {
    .top-banner > div > .title {
        font-size: 2em;
    }
}

.top-banner > div > .subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.wrap {
    flex-direction: column;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.location {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.location-pic {
    filter: invert(100%);
    margin: auto auto 20px;
}

.address {
    width: 200px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    letter-spacing: 0px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.courses {
    width: 100%;
}


.course-panel {
    padding: 30px;
    cursor: pointer;
    font-size: 22px;
    line-height: 1.35;
    color: white;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.course-action {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.course-description {
    font-size: 22px;
    line-height: 1.35;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
}

.course-bgr-pink {
    background-color: #d94681;
}

.course-bgr-orange {
    background-color: #ff8562;
}

.socials {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
}

.ff-list {
    justify-content: center;
    flex-wrap: wrap;
}

.ff {
    width: 300px;
    background-color: black;
    height: 300px;
    margin: 20px;
    padding: 20px;
    color: white;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.ff:hover {
    background-color: darkgray;
}


.ff-title {
    font-weight: 400;
    font-family: 'Roboto', serif;
    font-size: 22px;
    line-height: 1.35;
}

.ff-subtitle {
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

.about-founder {
    background: linear-gradient(#e5a673, #cf894e);
}


.founder-pic {
    width: 50%;
    max-width: 700px;
    margin: auto;

}

.about-founder {
    padding: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .founder-pic {
        display: none
    }

    .about-founder {
        padding: 0;
    }
}


.about-text {
    background-color: white;
    padding: 30px;
    height: max-content;
    margin-right: 40px;
    max-width: 500px;
    font-weight: 300;
    color: #000;
    font-size: 14px;
    font-family: Roboto, serif;
    line-height: 1.55;
}

.feedback-section {
    width: 90%;
    max-width: 1000px;
    margin-top: 40px;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .feedback-section {
        margin: 30px auto auto;
        padding: 0;
    }
}


.fb {
    width: 30%;
    min-width: 400px;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .fb {
        min-width: 300px;
        margin: 0;
        margin-bottom: 20px;
    }
}


.fb-tail {
    width: 0;
    height: 0;
    border-top: 50px solid black;
    border-right: 50px solid transparent;
    margin-left: 50px;
}

.fb-text {
    background: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

.author-avatar {
    border: 3px solid black;
    border-radius: 60px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.author-fio {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.qa-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-bottom: 1px solid black;
}

.question {
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.35;

    padding-right: 30px;
    justify-content: space-between;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

    background-color: white;
    transition: background-color 1s ease;
}

.question:hover {
    background-color: #f36d00;
}

.question,
.answer {
    padding: 20px;
}

.question, .question-title {
    align-items: center;
}

.answer {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.answer {
    transition: height 1s ease;
}

.answer.opened {
    height: auto;
    border-top: 1px solid black;
}

.answer.closed {
    overflow: hidden;
    height: 0;
    padding: 0;
}

.question-more > .more {
    max-width: 50px;
    max-height: 50px;
}
